<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.dao.UserDAO">
    <!--配置查询所有-->
    <select id="findAll" resultType="com.cqupt.domain.User">
        select*
        from user
    </select>

    <select id="selectById" resultType="com.cqupt.domain.User">
        select *
        from user
        where id = #{id}
    </select>
</mapper>
