.top,.top-left,.top-right{
    height:44px;
    line-height:44px;
}
.top{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 14px;
}
.top-left{
    width: 100px;
    margin-left: 20px;
}

.top-right{
    width: 100px;

    float: right;
    text-align: right;
    margin-right: 20px;
}

.container .left{
    width: 20%;
    float: left;
}


.container .center{
    width: 50%;
    float: left;
}


.container .right{
    width: 20%;
    float: left;
    margin-left: 20px;
}
/*  左边 channel */
.left{
    text-align: right;
    width: 110px;
}

.left img{
    width: 108px;
    height: 27px;
}

ul{
    list-style: none;
}

.channel-item{
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #444;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-left: 45%;
    text-decoration:none;

}

.channel-item.active {
    background-color: #ed4040;
    color: #fff;
}

.channel-item:hover{
    background-color: #ed4040;
    color: #fff;
}

/*  新闻样式  */

.center li{
    margin-top: 3px;
}
.news-box{

    border-bottom: 1px solid #e8e8e8;
    /*border: 1px solid red;*/
    height: 120px;
}


.single-mode-lbox {
    width: 25%;
    float: left;
}

.single-mode-lbox img{
    width: 80%;
}

/*  右侧文字  */
.single-mode-rbox {
    height: 100%;
    width: 73%;
    float: left;
    margin-left: 2%;
    /*background-color: #222222;*/
}

/*  保留 */
.title-box {
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 4px ;
    margin-left: 4px ;
    font-weight: 700;
}
a {
    color: #222;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;

}
a:active, a:hover {
    outline: 0;
    text-decoration: none;
    color: #406599;
}
.footer-bar-action.media-avatar  img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.footer-bar-action {
    font-size: 14px;
    line-height: 1;
    color: #777777;
}
.footer-bar-action.tag {
    font-size: 12px;
    color: #eee;
    margin-right: 10px;
    padding: 1px 2px;
    border: 1px solid #eee;
}
.footer-bar-action.tag.tag-style-other {
    border-color: #87a5b5 ;
    color: #87a5b5 ;
}


/*  布局位置  */
.footer-bar-action, .footer-bar-left {
    display: inline-block;
    vertical-align: middle;
}
.bui-left.footer-bar-left{
    margin-top: 20px;
}

/*  右侧布局   */

.tt-input-group{
    line-height: normal;
    font-size: 14px;
    height: 44px;

}

.tt-input__inner{
    vertical-align: middle;
    display: table-cell;
}


.tt-input-group__append {
    border: 1px solid #208eda;
    /*background-color: #208eda;*/
    color: #fff;
    position: relative;
    left: -1px;
    padding: 0 18px;

}

.tt-button {
    display: inline-block;
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}