.top {
    background-color: black;
    line-height: 40px;
    text-align: right;
    font-size: 20px;
}

.top a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.nav {
    line-height: 40px;
}

.left{
    width: 20%;
    text-align: center;
    float: left;
}

.left img{
    width: 38px;
    height: 38px;
}
.left span{
    vertical-align: 50%;
}
.center{
    width: 60%;
    float: left;
}
.right{
    width: 20%;
    float: left;
}
.footer{
    clear: both;
    background-color: blue;
    text-align: center;
    line-height: 25px;
}
.footer a{
    color: white;
}